@keyframes fadeOut {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 0;
  }
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.display-animation {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: white;
  background-color: black;
  width: 120px;
  height: 120px;
  padding: 20px;
  border-radius: 20px;
  opacity: 0;
  animation: 700ms ease-out fadeOut;
}

.spinner {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  animation: 300ms spinning infinite linear;
}

.spinner path {
  fill: lightcyan;
}
